<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Moja Aplikacja</title>
</head>
<body>
    <h1>Witaj w mojej aplikacji!</h1>
    <p>To jest Frontend (HTML). Wpisz coś poniżej, a wyślemy to do Backendu (Pythona).</p>

    <form action="/powitanie" method="POST">
        
        <label>Podaj swoje imię:</label><br>
        <input type="text" name="imie" required>
        
        <br><br>
        <button type="submit">Wyślij do Pythona</button>
    </form>
</body>
</html>